<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pushwoosh.reactnativeplugin">
	
	<uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
	<permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
	
	<permission
		android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE"
		android:protectionLevel="signature" />
	
	<uses-permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE" />
	
	<uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
	
	<application>
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		
		<meta-data android:name="com.pushwoosh.internal.plugin_provider"
		           android:value="com.pushwoosh.module.internal.TitaniumPluginProvider" />
		
		<meta-data
			android:name="com.pushwoosh.notification_service_extension"
			android:value="com.pushwoosh.reactnativeplugin.PushwooshNotificationServiceExtension" />
		
		<!--BEACON-->
		<service
			android:name="com.pushwoosh.thirdparty.radiusnetworks.ibeacon.service.IBeaconService"
			android:enabled="true"
			android:exported="true"
			android:isolatedProcess="false"
			android:label="iBeacon" />
		<service
			android:name="com.pushwoosh.thirdparty.radiusnetworks.ibeacon.IBeaconIntentProcessor"
			android:enabled="true" />
		<service android:name="com.pushwoosh.beacon.PushBeaconService" />
		
		<!--LOCATION-->
		<meta-data
			android:name="com.pushwoosh.plugin.location"
			android:value="com.pushwoosh.location.LocationPlugin" />
		
		<service android:name="com.pushwoosh.location.network.GeoLocationServiceApi16" />
		
		<activity
			android:name="com.pushwoosh.location.internal.utils.ResolutionActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		
		<service
			android:name="com.pushwoosh.location.network.GeoLocationServiceApi21"
			android:exported="true"
			android:permission="android.permission.BIND_JOB_SERVICE" />
		
		<provider
			android:name="com.pushwoosh.PushwooshInitProvider"
			android:authorities="${applicationId}.pushwooshinitprovider"
			android:enabled="true"
			android:exported="false"
			android:initOrder="50" />
		
		<receiver
			android:name="com.google.android.gms.gcm.GcmReceiver"
			android:exported="true"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				
				<category android:name="${applicationId}" />
			</intent-filter>
		</receiver>
		
		<provider
			android:name="com.pushwoosh.gcm.GcmInitProvider"
			android:authorities="${applicationId}.gcmpushwooshinitprovider"
			android:enabled="true"
			android:exported="false"
			android:initOrder="53" />
		
		<receiver android:name="com.pushwoosh.location.geofencer.GeofenceReceiver">
			<intent-filter>
				<action android:name="${applicationId}.action.GEOFENCE" />
			</intent-filter>
		</receiver>
		
		<provider
			android:name="com.pushwoosh.amazon.AmazonInitProvider"
			android:authorities="${applicationId}.amazonpushwooshinitprovider"
			android:enabled="true"
			android:exported="false"
			android:initOrder="52" />
		
		<receiver
			android:name="com.pushwoosh.PushAmazonReceiver"
			android:permission="com.amazon.device.messaging.permission.SEND">
			<intent-filter>
				<action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
				<action android:name="com.amazon.device.messaging.intent.RECEIVE" />
				
				<category android:name="${applicationId}" />
			</intent-filter>
		</receiver>
	
	</application>
</manifest>